<div class="auth" ng-controller="AuthController">
  <input type="text" placeholder="Login" ng-model="username">
  <input
    type="password"
    placeholder="Password"
    ng-model="password"
  >
  <input
    ng-show="mode === 'sign_up'"
    type="password"
    placeholder="Confirm password"
    ng-model="confirmPassword"
  >

  <button ng-show="mode === 'sign_in'" ng-click="signIn()">Sign In</button>
  <p ng-show="mode === 'sign_in'">
    There is no account yet?
    <button ng-click="toggleMode()">Sign up</button>
  </p>

  <button ng-show="mode === 'sign_up'" ng-click="signUp()">Sign Up</button>
  <p ng-show="mode === 'sign_up'">
    Already have an account?
    <button ng-click="toggleMode()">Sign in</button>
  </p>
</div>